attrs

Babel

blinker

chardet

click

cryptography

Jinja2

jsonpatch

jsonpointer

jsonschema

markdown-it-py

MarkupSafe

mdurl

oauthlib

olefile

packaging

pillow

PyJWT

pyparsing

pyrsistent

pyserial

python-dateutil

python-dotenv

pytz

PyYAML

requests

rich

setuptools

six

texttable

typing_extensions

urllib3

websocket-client

wheel
